{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<body class="text-center" style="margin-top: 66px;">

<main class="form-signing">
    <form method="post">

    <h1 class="h3 mt-3 mb-3 fw-normal">Please sign in</h1>
{% csrf_token %}
        <p style="height: 50px;">
            <input style="height: 50px;margin-left: auto;margin-right: auto;" class="w-25 border-primary form-control" type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" placeholder="Username" autofocus="" required="" id="id_username">
        </p>
        <p style="height: 50px;">
            <input style="height: 50px;margin-left: auto;margin-right: auto;" class="w-25 border-primary form-control" type="email" name="email" maxlength="150" autocapitalize="none" autocomplete="email" placeholder="Email" autofocus="" required="" id="id_email">
        </p>
        <p>
            <input style="height: 50px;margin-left: auto;margin-right: auto;" class="w-25 border-primary form-control" type="password" name="password1" autocomplete="new-password" placeholder="Password" required="" id="id_password1">

        </p>
        <p style="font-size: 12px; margin-top: -15px;">Your password must contain at least 8 characters.</p>
        <p>
            <input style="height: 50px;margin-left: auto;margin-right: auto;" class="w-25 border-primary form-control" type="password" name="password2" autocomplete="new-password" placeholder="Confirm the password" required="" id="id_password2">
        <p style="margin-top: -15px;font-size: 12px;" class="helptext">Enter the same password as before, for verification.</p>
        </p>
    <button class="w-25 btn btn-lg btn-primary" type="submit">Sign in</button>
  </form>
</main>





</body>
<!--  <h2>Sign up</h2>-->
<!--  <form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button type="submit">Sign Up</button>-->
<!--  </form>-->
{% endblock %}