{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<body class="text-center" data-new-gr-c-s-check-loaded="14.1008.0" data-gr-ext-installed="">

<main class="form-signin">
  <form>

    <h1 class="h3 mt-3 mb-3 fw-normal">Please sign in</h1>

    <div class="d-inline-block w-25 form-floating mb-3">
      <input type="email" class="w-40 form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="w-25 form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-25 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
  </form>
</main>





</body>
<!--  <h2>Sign up</h2>-->
<!--  <form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button type="submit">Sign Up</button>-->
<!--  </form>-->
{% endblock %}