{% extends 'base.html' %}

{% block content %}

<h4>About</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur lacus lorem, in luctus augue eleifend a. Sed semper commodo tristique. Nulla convallis ultrices est, mattis hendrerit tellus porta vitae. Vivamus euismod quis nulla laoreet finibus. Etiam bibendum, leo et mollis scelerisque, augue enim vulputate lorem, vel euismod justo nibh id nibh. Quisque vehicula, elit et placerat ultricies, magna tellus euismod erat, nec ultrices mauris nisi maximus nulla. Integer tincidunt, nulla eget auctor gravida, tellus massa rhoncus felis, a ornare orci orci id odio.</p>
{% endblock %}