{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% ifequal disk.id_user|stringformat:"s" user.get_username %}
        <p>Welcome on your page, {{ user.username }}!</p>
        <p>Here are your disks {{disk.id_dysku}}:</p>

        {% for catalog in catalogs %}
            <p>Catalog id: <a href="{% url 'catalog' %}{{disk.id_dysku}}/{{catalog.id_katalogu}}"> {{catalog.id_katalogu}} </a> </p>
        {% endfor %}
    {% else %}
    <p>ACCESS DENIED</p>
    {% endifequal %}
{% else %}
      <p>You are not logged in</p>
{% endif %}
{% endblock %}