{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% ifequal disk.id_user|stringformat:"s" user.get_username %}
        <br>
        <table cellspacing='0' cellpadding='5' border-spacing='5' style="margin:0;padding:0;border: 1px solid black;">
            <tr style="border: 1px solid black;">
                <th style="border: 1px solid black;">Name</th>
                <th style="border: 1px solid black;">Delete</th>
            </tr>
            {% for sub_catalog in sub_catalogs %}
            <tr style="border: 1px solid black;">
            <th style="border: 1px solid black;"><a href="{% url 'catalog' %}{{disk.id}}/{{sub_catalog.id}}">
                <img src="{% static 'foto/folder2.png'%}" width="20" height="20">
                {{sub_catalog.nazwa}}
            </a></th>
            <th style="border: 1px solid black;"><a href="{% url 'deleteCatalog' %}{{sub_catalog.id}}">
                <img src="{% static 'foto/delete2.png'%}" width="20" height="20">
            </a></th>
            </tr>
            {% endfor %}


        {% for file in files %}
            <tr style="border: 1px solid black;">
                <th style="border: 1px solid black;"> <img src="{% static 'foto/file2.png'%}" width="20" height="20"> {{file.nazwa}}.{{file.typ_pliku}}</th>
                <th style="border: 1px solid black;"> <a href="{% url 'deleteFile' %}{{file.id}}">
                <img src="{% static 'foto/delete2.png'%}" width="20" height="20">
            </a> </th>
            </tr>
        {% endfor %}
        </table>
    {% else %}
    <h4>ACCESS DENIED</h4>
    {% endifequal %}
{% else %}
      <h4>You are not logged in</h4>
{% endif %}
{% endblock %}