<!-- templates/index.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <a href="{% url 'profile' %}">  Go to your profile  </a>
  <!--<p><a href="{% url 'logout' %}">Log Out</a></p>-->
{% else %}
  <p class="mt-4 text-center">You are not logged in</p>
  <p class="text-center" ><a class="btn btn-outline-primary" href="{% url 'login' %}">Log In</a>
  <a class="btn btn-outline-primary" href="{% url 'signup' %}">Sign Up</a></p>
{% endif %}
{% endblock %}