{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <p>Welcome on your page, {{ user.username }}!</p>
    <p>Here are your disks:</p>
    {% for object in all_objects %}
        {% ifequal object.id_user|stringformat:"s" user.get_username %}
        <tr>
            <p>Disk id: <a href="{% url 'disk' %}{{object.id_dysku}}">   {{object.id_dysku}}  </a>.    Disk usage: {{object.calculate}}%</p>
        </tr>

        {% endifequal %}
    {% endfor %}
{% else %}
      <p>You are not logged in</p>
{% endif %}
{% endblock %}