{% extends 'base.html' %}
{% load static %}

{% block title %}Share File{% endblock %}

{% block content %}
{% if file.udostepnienie is True %}
<div class="bg-image hover-zoom" style="background-image: url({% static 'foto/strzalki.png'%}); height: 95vh; background-size: cover;
 background-repeat: no-repeat; margin-top: -5vh; overflow: hidden;">
<div class="text-center">
    <br>
<p style="letter-spacing: 2px; font-size:3rem; margin-top: 30vh;">{{file.myfile.name}}</p>
    <a  href = "{{file.myfile.url}}" download ><button class="btn btn-primary"><i class="fa fa-download"></i> Download</button></a>
<br>
    <br>
</div>
</div>
{% else %}
<p>Brak pliku</p>
{% endif %}
<script src="{% static 'js/share.js'%}"></script>
{% endblock %}